<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/aop
        	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.0.xsd">
			
	 
	<context:annotation-config />
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

	<!-- Scans the classpath for annotated components that will be auto-registered as Spring beans.
	 For example @Controller and @Service. Make sure to set the correct base-package -->
	<context:component-scan base-package="ma.ael.message" />
	
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean"/>
	<bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
	
	<bean id="messageSource"  
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">  
        <property name="basename" value="classpath:messages" />  
        <property name="defaultEncoding" value="UTF-8" />  
    </bean>
    
    <import resource="classpath:spring-domain.xml"/>
	
    <!-- Actions spring -->
    <import resource="classpath:actions/spring-accueil.xml"/>
	
     <context:property-placeholder ignore-unresolvable="true" location="classpath*:*.properties" />   
        
</beans>
